/*

Product Admin CSS Template

https://templatemo.com/tm-524-product-admin

*/

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    background-color: #4e657a;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

a { transition: all 0.3s ease; }

a:focus,
a:hover { text-decoration: none; }

button:focus { outline: 0; }

.navbar-brand {
    align-items: center;
    display: flex;
}

.tm-site-icon { color: #656565; }

.tm-site-title {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    background-color: #567086;
    height: 100px;
    padding: 0;
}

.navbar .container { position: relative; }

.tm-logout-icon { font-size: 1.5em; }

.tm-mt-big { margin-top: 57px; }

.tm-mb-big { margin-bottom: 60px; }

.tm-mt-small { margin-top: 20px; }

.tm-block-col { margin-bottom: 30px; }

.tm-block {
    -moz-box-shadow: 1px 1px 5px 0 #455c71;
    -webkit-box-shadow: 1px 1px 5px 0 #455c71;
    box-shadow: 1px 1px 5px 0 #455c71;
    height: 100%;
    max-height: 450px;
    min-height: 350px;
    padding: 40px;
}

.tm-block-avatar,
.tm-block-settings { max-height: none; }

.tm-block-avatar { height: auto; }

.tm-block-h-auto {
    height: auto;
    max-height: none;
    min-height: 1px;
}

.tm-block-scroll { overflow-y: scroll; }

.tm-block-overflow { overflow: hidden; }

.tm-block-title {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.nav-link {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 90%;
    height: 100%;
    justify-content: center;
}

.nav-link > i {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-right: 0;
}

.dropdown-item,
.nav-link { padding: 15px 20px; }

.dropdown-menu {
    background-color: #567086;
    border-radius: 0;
    color: #fff;
    font-size: 90%;
    min-width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdown-item {
    color: #fff;
    padding: 15px 30px;
}

.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active {
    background-color: #f5a623;
    color: #fff;
}

.navbar-nav .nav-link.active i { color: #fff; }

.dropdown-item:focus,
.dropdown-item:hover { background-color: #567086; }

.navbar-nav a:hover,
.navbar-nav a:hover i { color: #f5a623; }

.nav-item { text-align: center; }

.nav-item:last-child { margin-right: 0; }

.dropdown-toggle::after { display: none; }

.dropdown-menu {
    border: 0;
    margin-top: 0;
}

.tm-content-row {
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
}

.tm-col {
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.tm-col-big { width: 39%; }

.tm-col-small { width: 21.95%; }

.tm-gray-circle {
    background-color: #aaa;
    border-radius: 50%;
    height: 80px;
    margin-right: 15px;
    width: 80px;
}

.tm-notification-items {
    height: 90%;
    overflow-y: scroll;
}

.tm-notification-item {
    background-color: #4e657a;
    color: #fff;
    font-size: 95%;
    margin-bottom: 15px;
    padding: 15px;
}

.tm-notification-item:last-child { margin-bottom: 0; }

.tm-notification-link { color: #f5a623; }

.tm-text-color-secondary { color: #bdcbd8; }

.tm-small { font-size: 90%; }

.table {
    background-color: #50697f;
    color: #fff;
    font-size: 85%;
    margin-bottom: 0;
}

thead {
    background-color: #486177;
    color: #fff;
}

.table thead th { border-bottom: 0; }

.tm-status-circle {
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin-right: 5px;
    margin-top: -3px;
    vertical-align: middle;
    width: 5px;
}

.moving {
    background-color: #9be64d;
    box-shadow: 0 0 8px #9be64d, inset 0 0 8px #9be64d;
}

.pending {
    background-color: #efc54b;
    box-shadow: 0 0 8px #efc54b, inset 0 0 8px #efc54b;
}

.cancelled {
    background-color: #da534f;
    box-shadow: 0 0 8px #da534f, inset 0 0 8px #da534f;
}

.tm-avatar { width: 345px; }

.tm-avatar-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tm-avatar-delete-link {
    background-color: rgba(57, 78, 100, 0.7);
    border-radius: 50%;
    display: inline-block;
    display: none;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    padding: 14px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.2s ease;
    width: 50px;
    z-index: 1000;
}

.tm-avatar-container:hover .tm-avatar-delete-link { display: block; }

.tm-col-avatar {
    max-width: 425px;
    padding-left: 15px;
    padding-right: 15px;
    width: 37%;
}

.tm-col-account-settings {
    max-width: 822px;
    padding-left: 15px;
    padding-right: 15px;
    width: 63%;
}

.form-control {
    background-color: #54657d;
    border: 0;
    color: #fff;
}

.form-control:focus {
    background-color: #60738e;
    border-color: transparent;
    box-shadow: 0 0 0 0.1rem rgb(180, 206, 233, 0.5);
    color: #fff;
}

.form-group label {
    color: #fff;
    margin-bottom: 10px;
}

.tm-hide-sm { display: block; }

.tm-list-group {
    counter-reset: myOrderedListItemsCounter;
    padding-left: 0;
}

.tm-list-group > li {
    cursor: pointer;
    list-style-type: none;
    padding: 8px;
    position: relative;
    transition: all 0.3s ease;
}

.tm-list-group > li:hover { color: #0266c4; }

.tm-list-group > li:before {
    content: counter(myOrderedListItemsCounter) ".";
    counter-increment: myOrderedListItemsCounter;
    margin-right: 0.5em;
}

.tm-list { padding-left: 30px; }

.tm-list > li { margin-bottom: 20px; }

.form-control {
    border-radius: 0;
    height: 50px;
    padding: 19px 18px;
}

.form-group { margin-bottom: 15px; }

.btn {
    border-radius: 0;
    max-width: 100%;
    padding: 13px 28px;
    transition: all 0.2s ease;
}

.btn-small { padding: 10px 24px; }

.btn-primary {
    background-color: #f5a623;
    border: 2px solid #f5a623;
    color: #fff;
    font-size: 90%;
    font-weight: 600;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: transparent;
    border: 2px solid #f5a623;
    color: #f5a623;
}

.custom-file-input { cursor: pointer; }

.custom-file-label { border-radius: 0; }

.table td,
.table th {
    border-top: 1px solid #415a70;
    padding: 15px 25px;
    vertical-align: middle;
}

.tm-table-small td,
.tm-table-small th {
    padding-left: 12px;
    padding-right: 12px;
}

.table-hover tbody tr { transition: all 0.2s ease; }

.table-hover tbody tr:hover { color: #a0c0de; }

.tm-bg-primary-dark { background-color: #435c70; }

.tm-bg-gray { background-color: rgba(0, 0, 0, 0.05); }

.tm-table-mt { margin-top: 66px; }

.page-item:first-child .page-link {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.page-link { padding: 12px 18px; }

.page-link,
.page-link:hover { color: #000; }

.page-item { margin-right: 18px; }

.page-item:last-child { margin-right: 0; }

.page-item.active .page-link {
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: #000;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #394e64;
    background-position: center;
    border-radius: 50%;
    box-sizing: border-box;
    box-sizing: content-box;
    cursor: pointer;
    height: 24px;
    position: relative;
    transition: all 0.1s linear;
    width: 24px;
}

input[type="checkbox"]:checked { background: url(../img/check-mark.png) #394e64 center no-repeat; }

input[type="checkbox"]:focus {
    box-shadow: none;
    outline: 0 none;
}

.tm-block-products { min-height: 725px; }

.tm-block-product-categories { min-height: 650px; }

.tm-product-table-container {
    margin-bottom: 15px;
    max-height: 465px;
    overflow-y: scroll;
}

.tm-product-table tr { font-weight: 600; }

.tm-product-name {
    font-size: 0.95rem;
    font-weight: 600;
}

.tm-product-delete-icon {
    color: #fff;
    font-size: 1.1rem;
}

.tm-product-delete-link {
    background-color: #394e64;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 40px;
}

.tm-product-delete-link:hover .tm-product-delete-icon { color: #6d8ca6; }

.custom-select {
    -moz-appearance: none;
    -moz-border-radius: 0;
    -ms-appearance: none;
    -ms-border-radius: 0;
    -o-appearance: none;
    -o-border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    background: url(../img/arrow-down.png) 98% no-repeat #50657b;
    border: none;
    border-radius: 0;
    color: #acc6de;
    height: 50px;
    padding: 15px;
    width: 100%;
}

.custom-select:focus { outline: 0; }

.tm-trash-icon {
    color: #6e6c6c;
    cursor: pointer;
}

.tm-trash-icon:hover { color: #9f1321; }

.tm-footer {
    -moz-box-shadow: 0 -3px 5px 0 rgba(69, 92, 113, 0.59);
    -webkit-box-shadow: 0 -3px 5px 0 rgba(69, 92, 113, 0.59);
    background-color: #567086;
    box-shadow: 0 -3px 5px 0 rgba(69, 92, 113, 0.59);
    padding-bottom: 30px;
    padding-top: 30px;
}

.custom-select {
    border-radius: 0;
    height: 50px;
}

.tm-product-img-dummy {
    align-items: center;
    background: #aaa;
    color: #fff;
    display: flex;
    height: 240px;
    justify-content: center;
    max-width: 100%;
}

.tm-product-img-edit {
    max-width: 100%;
    position: relative;
}

.tm-product-img-edit i {
    display: none;
    position: absolute;
}

.tm-product-img-edit:hover i { display: block; }

.tm-upload-icon {
    background: #455c71;
    border-radius: 50%;
    font-size: 22px;
    height: 55px;
    padding-top: 15px;
    text-align: center;
    width: 55px;
}

.tm-login-col { max-width: 470px; }

.navbar-toggler {
    border-color: #708da8;
    border-radius: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 2px;
    padding: 10px 15px;
    transition: all 0.2s ease;
}

.navbar-toggler:hover {
    border-color: #f5a623;
    color: #f5a623;
}

.tm-nav-icon { color: #fff; }

.navbar-toggler:hover .tm-nav-icon { color: #f5a623; }

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track { background: #394f62; }

::-webkit-scrollbar-thumb { background: #6d8da6; }

::-webkit-scrollbar-thumb:hover { background: #8ab5d6; }

.tm-footer-link { color: white; }

.tm-footer-link:hover,
.tm-footer-link:focus { color: #aacbea; }

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-left: 28px;
        padding-right: 28px;
    }

    .navbar-collapse { height: 100%; }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link { padding: 15px 20px; }
}

@media (max-width: 1275px) and (min-width: 1200px) {
    .nav-item { margin-right: 15px; }
}

@media (max-width: 1350px) {
    .nav-item { margin-right: 1px; }
}

@media (max-width: 1199px) {
    .tm-col-big,
    .tm-col-small { width: 49.65%; }

    .navbar-collapse {
        box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 1px;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 72px;
        width: 200px;
        z-index: 1000;
    }

    .dropdown-menu { text-align: center; }

    .nav-link {
        background-color: #567086;
        color: #fff;
        flex-direction: row;
        padding: 15px;
    }

    .nav-link > i {
        font-size: 1rem;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .nav-item { margin-right: 0; }

    .tm-block-taller { max-height: 520px; }
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-collapse { right: 15px; }
}

@media (max-width: 991px) {
    .tm-col-big,
    .tm-col-small {
        height: auto;
        min-height: 383px;
        width: 100%;
    }

    .tm-block { padding: 30px; }
}

@media (max-width: 767px) {
    .tm-col-account-settings,
    .tm-col-avatar {
        max-width: 100%;
        width: 100%;
    }

    .tm-block-avatar {
        display: flex;
        flex-direction: column;
    }

    .tm-avatar { align-self: center; }

    .tm-hide-sm { display: none; }
}

@media (max-width: 633px) {
    .page-item { margin-top: 10px; }

    .custom-select { background-position: 96%; }
}

@media (max-width: 574px) {
    .navbar-collapse { top: 47px; }

    .navbar { height: 50px; }

    .tm-site-title {
        font-size: 1.4rem;
        margin-left: 7px;
    }

    .tm-site-icon { font-size: 2em; }
}

@media (max-width: 480px) {
    .tm-mt-big { margin-top: 45px; }

    .tm-mb-big { margin-bottom: 45px; }

    #barChart,
    #lineChart { max-height: 350px; }
}