﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Styles/template.Master" AutoEventWireup="true" CodeBehind="qpAux.aspx.cs" Inherits="DrakisReptys.monitors.crud.qpAux" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Button ID="btnVOLVER" CssClass="btn btn-block btn-block" runat="server" Text="VOLVER" OnClick="btnVOLVER_Click"/>
</asp:Content>